<div class="container">
  <div class="box">
    <df-form
    [formFields]="memberFields"
    [buttonsJustify]="'end'"
    [buttons]="memberButtons"></df-form>
  </div>
  <br/>
  <div class="box">
    <df-form
    [formFields]="addressFields"
    [buttonsJustify]="'start'"
    [buttons]="addressButtons"></df-form>
  </div>
  <br/>
  <div class="box">
    <dt-data-table
    [data]="users"
    [columns]="userColumns"
    [filters]="userFilters"
    [pages]="pages"
    [minCharSearch]="3"
    [classes]="'table-hover table-borderless table-sm'"
    (onTableClick)="onClickMethod($event)">
    </dt-data-table>
  </div>
</div>